.App {
	// text-align: center;

	.logo {
		height: 40vmin;
		pointer-events: none;
	}

	// .header {
	//   background-color: #282c34;
	//   min-height: 100vh;
	//   display: flex;
	//   flex-direction: column;
	//   align-items: center;
	//   justify-content: center;
	//   font-size: calc(10px + 2vmin);
	//   color: white;
	// }

	.link {
		color: #61dafb;
	}
	div.userCard {
		background-color: #eee;
		margin: 0 0 10px 0;
		padding: 10px;
		font-size: 1.3rem;
		.row {
			display: flex;
			.data {
				margin: 0 0 0 10px;
				font-family: 'Courier New', Courier, monospace;
				color: brown;
			}
		}
		div.iconRow {
			margin: 5px 0 0 0;
			display: flex;
			button {
				margin: 0 5px 0 0;
				background-color: #ccc;
				width: 30px;
				padding: 6px 0 3px 0;
			}
		}
	}
  .topRow{
    margin: 0 0 20px 0;
  }
  .addUserFormArea {
    background-color: #ccc;
    margin: 10px 0 0 0;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 5px;
    width: 325px;
    label {
        font-size: 1.3rem;
        width: 110px;
        display: inline-block;
    }
    input {
        width: 200px;
    }
    .formButtonArea {
        margin: 10px 3px 0 0;
        display: flex;
        justify-content: flex-end;
        button {
            background-color: #ddd;
            font-size: 0.9rem;
            margin: 0 5px 0 0;
        }
    }
}
}
